<mat-card class="main-card">
    <mat-card-header>
      <mat-card-title class="title">{{ project.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="dateString">Last updated {{dateString}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="project.imageUrl" [attr.src]="project.imageUrl" [attr.alt]="project.title">
    <mat-card-content>
      <p> {{project.description}} </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [attr.href]="link.url" *ngFor="let link of project.links">{{link.text | uppercase}}</a>
    </mat-card-actions>
  </mat-card>