<mat-card class="main-card">
    <mat-card-header>
      <mat-card-title class="title">{{ project.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="dateString">Last updated {{dateString}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [attr.src]="project.imageUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p> {{project.description}} </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngFor="let link of project.links">{{link.text | uppercase}}</button>
    </mat-card-actions>
  </mat-card>