$break-small: 670px;
$break-large: 1654px;

.theme{
    width: 100%;
    height: 75%;
}
.theme.image{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../assets/hero.jpg');
    background-size: cover; 
}
.theme.color {
    background-color: rgba(92, 92, 92, 0.7)
}


.title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 4rem;
    margin: 0px;
    font-family: 'Roboto';
    @media screen and (max-width: $break-small) {
        font-size: 3rem;
        #title-emphasis {
            display: block;
        }
    }
    @media screen and (min-width: $break-large) {
        font-size: 10rem;
    }

    #title-emphasis {
        color: rgb(0, 160, 223);
    }
    #title {
        color: white;
    }
}


